@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Cairo", sans-serif;
    line-height: 1;
}

li.contact-row {
    list-style: none;
}

body,
html,
.container {
    background-color: black;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

.right-column {
    background-color: white;
    color: #101f32;
    flex-grow: 4;
}

.left-column {
    background-color: #101f32;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    max-width: 400px;
}

.profile-head {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-150 {
    width: 150px;
    height: 150px;
}

.profile-head .hex-shape {
    width: 146px;
    height: 146px;
    position: absolute;
    top: 2px;
    left: 2px;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.person-name {
    text-transform: uppercase;
    font-weight: 300;
    padding: 10px 0 10px 0;
    font-size: 35pt;
}

.person-name .last-name {
    font-weight: 700;
}

.person-title {
    text-transform: capitalize;
    font-weight: 300;
}

.svg-img-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blue-bg {
    background-color: #101f32;
}

.white-bg {
    background-color: white;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
    padding-left: 20px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.svg-img {
    width: 45%;
}

.white-svg {
    filter: invert(100%);
}

.blue-svg {
    filter: invert(9%) sepia(37%) saturate(1004%) hue-rotate(173deg) brightness(98%) contrast(95%);
}

.size-50 {
    width: 50px;
    height: 50px;
}

.hex-border {
    display: inline-block;
    box-sizing: border-box;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    position: relative;
}

.section-header .hex-shape {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 2px;
    left: 2px;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.section-title {
    text-transform: uppercase;
    padding: 15px;
}

.decorative-line {
    height: 2px;
    flex-grow: 1;
}

.profile-section .section-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-section .section-content p {
    padding: 15px 50px 0 50px;
    font-size: medium;
    font-weight: 300;
}

.profile-section .section-content span {
    font-weight: 900;
}

.list {
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.row .contact-icon {
    padding: 20px;
}

.row p {
    max-width: 250px;
}

.size-40 {
    width: 40px;
    height: 40px;
}

.skills-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.skills-list li {
    padding: 0 40px 0 60px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.skills-list li p,
.prof-section ul li p
{
    text-transform: uppercase;
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
}

.knob {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.border-white {
    border-color: white;
}

.border-blue {
    border-color: #101f32;
}

.progress-bar {
    position: relative;
    border: 2px solid;
    border-radius: 8px;
    height: 14px;
    width: 150px;
}

.progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: white;*/
    border-radius: 3px;
    height: 100%;
}

.progress-bar-fill.fill-80 {
    width: 80%;
}

.progress-bar-fill.fill-70 {
    width: 70%;
}

.progress-bar-fill.fill-60 {
    width: 60%;
}

.row:last-child {
    margin-bottom: 30px;
}

.work-section ul,
.education-section ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 130px;
}

.work-section li,
.education-section li {
    font-size: x-large;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.work-section li .job-desc,
.education-section li .edu-desc{
    font-size: large;
    text-transform: none;
    padding-top: 10px;
    max-width: 90%;
}

.work-section .job,
.education-section .degree{
    font-weight: bolder;
}

.prof-section ul {
    display: grid;
    width: 100%;
    padding-top: 20px;
    padding-left: 50px;
    row-gap: 10px;
    column-gap: 5%;
    grid-template-columns: repeat(2, 33% [col-start]);
}

.prof-section ul li {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}